:root {
	--blue: #698ad6;
	--white: #e8e6eb;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, 
big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, under, strike, strong, sub, sup, tt, var, b, u, i, center, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, 
audio, video, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
	font-family: 'Ubuntu', sans-serif;
}

i {
	font-style: italic;
}
 
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
 
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong, b {
	font-weight: bold;
} 
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	max-width: 100%;
}
 
p {
	font-size: 1.15em;
	line-height: 1.4em;
	font-kerning: normal;
}

h1 {
	font-size: 3em;
	text-align: center;
	z-index: 10;
}

h2 {
	font-size: 1.4em;
	font-style: italic;
	text-align: center;
	margin: 0.4em 0;
}

h3 {
	font-size: 1.35em;
	text-align: center;
}

body {
	width: 100%;
	/*overflow-x: hidden;
	overflow-y: hidden;*/
}

header, header.under {
	background: var(--blue);
	position: absolute;
	top: 0;
	width: 100vw;
	z-index: 5;
	height: 5rem;
}

header img {
	position: absolute;
	text-align: center;
	width: 100%;
	padding-top: 0.1em;
	color: white;
	height: 5.6rem;
}

header::after {
	content: '';
	width: 0;
	height: 0;
	top: 5rem;
	position: absolute;
	border-bottom: 2rem solid transparent;
	border-left: 100vw solid var(--blue);
	z-index: 5;
}

header.under {
	background: black;
	height: 5.1rem;
	z-index: 4;
}

header.under::before {
	content: '';
	width: 0;
	height: 0;
	top: 5.1rem;
	position: absolute;
	border-bottom: 2rem solid transparent;
	border-left: 100vw solid black;
	z-index: 4;
}

header.under, header.under::before {
	filter: blur(0.4em);
}

@keyframes fadePic {
	0% {opacity: 0;}
	1% {opacity: 1;}
	33.33% {opacity: 1;}
	34.33% {opacity: 0;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	from {opacity: 1}
	to {opacity: 0;}
}

@keyframes fadeOut {
	from {opacity: 1}
	to {opacity: 0;}
}

.images {
	width: 100%;
	position: relative;
	height: 100vh;
}


.images div {
	position: fixed;
	top: 0;
	animation-fill-mode: both;
	animation-iteration-count: infinite;
	animation-name: fadePic;
	animation-duration: 25s;

	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 100%;
}

#img1 {
	background-image: url('1-1.jpg');
}

#img2 {
	animation-delay: 8.33s;
	background-image: url('2.jpg');
}


#img3 {
	animation-delay: 16.66s;
	background-image: url('3.jpg');
}


.info, .infoUnder {
	background: var(--white);
	position: fixed;
	top: 0;
	right: 0;
	height: 100vh;
	width: 35%;
	z-index: 2;
	transition: 0.5s width;
}

.info::before {
	content: '';
	width: 0;
	height: 0;
	margin-left: calc(-10rem + 2px);
	position: absolute;
	border-left: 10rem solid transparent;
	border-bottom: 100vh solid var(--white);
	z-index: 3;
}

.infoUnder {
	background: black;
	height: 5.1rem;
	z-index: 1;
}

.infoUnder::before {
	content: '';
	width: 0;
	height: 0;
	margin-left: calc(-10rem + 2px);
	position: absolute;
	border-left: 10rem solid transparent;
	border-bottom: 100vh solid black;
	z-index: 1;
}

.infoUnder, .infoUnder::before {
	filter: blur(0.4em);
}

.info-container {
	position: static;
}

#info-inner {
	padding: 8rem 0.5rem 0rem 0.5rem;
	position: relative;
}

#info-inner p {
	padding: 0.5em 0;
	font-size: 1.3em;
}

.ninetypercent-width {
	width: 90%;
}

#ninehundredpixels {
	width: 900px;
}

button {
	background: transparent;
	cursor: pointer;
	font-size: 1.7em;
	color: black;
	padding: 0.2em;
	text-decoration: underline;
}

.back-button {
	position: absolute;
	top: 8rem;
}

.overflow-container {
	overflow: auto;
	max-height: calc(100vh - 8rem);
}

nav {
	display: flex;
	flex-direction: column;
}

nav div {
	font-size: 2em;
	cursor: pointer;
	margin: 0 0 0.3em 0;
	padding: 0.2em 0;
}

a {
	text-decoration: underline;
	color: black;
}

a, button, nav div, .album-label {
	transition: all 0.2s;
}

nav div:hover, button:hover, a:hover, .project-pic-container:hover .album-label {
	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5), -2px 1px 3px rgba(0,0,0,0.7);
	transition: all 0.2s;
}

/*
nav div {
	background: var(--blue);
	padding: 0.5rem;
	margin: 0.5rem 0;
	box-shadow: 1px 3px 8px 0px rgba(0,0,0,0.4);
	cursor: pointer;
	position: relative;
}

nav div::after {
	content: '';
	height: 0;
	width: 0;
	border-left: 5rem solid transparent;
	border-top: 1rem solid var(--blue);
	position: absolute;
	bottom: -0.8em;
	right: 0;
}
*/

.flex-container {
	display: flex;
	flex-direction: row;
	padding: 0.5em 2em;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.project-pic-container {
	width: 300px;
	height: 300px;
	object-fit: cover;
	position: relative;
	margin: 0 1em 2em 1em;
	transition: 0.2s all;
}

.project-pic-container, .album-container {
	box-shadow: 2px 3px 8px rgba(0,0,0,0.5), -3px 2px 8px rgba(0,0,0,0.6);
}

.album-container {
	width: calc(100% - 3rem);
	height: calc(100vh - 9rem);
	position: absolute;
	left: 1rem;
	top: 8rem;
	background: white;
	z-index: 2;
	display: none;
}

.album-container h3 {
	position: relative;
	width: auto;
	height: auto;
}

.album-cover {
	cursor: pointer;
}

.album-cover img {
	filter: grayscale(30%);
}

.album-label {
	position: absolute;
	padding: 0.5em;
	width: 100%;
	height: 100%;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	color: white;
	text-shadow: 2px 2px 3px rgba(0,0,0,0.5), -2px 1px 3px rgba(0,0,0,0.7);
}

.labelBackground {
	height: 0px;
	width: 100%;
	background: var(--blue);
	position: absolute;
	bottom: 0;
	transition: 0.2s height;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	overflow-y: hidden;
}

.labelBackground h3 {
	margin: 0.5em;
	opacity: 0;
}

.project-pic-container:hover > .labelBackground {
	height: 100%;
}

.project-pic-container:hover > .labelBackground h3 {
	opacity: 1;
}

.project-pic-container img {
	object-fit: cover;
	height: 100%;
	width: auto;
}

.content-wrapper {
	display: none;
}

@media only screen and (max-width: 900px) {
	body {
		overflow-y: visible;
	}

	.overflow-container {
		overflow: visible;
		max-height: 100%;
	}

	.images {
		margin-top: 5rem;
		width: 100%;
		position: relative;
		height: 40vh;
	}

	.images div {
		position: absolute;
	}

	.info-container {
		position: relative;
	}

	#info-inner {
		padding: 0.5rem;
	}

	.info, .infoUnder {
		min-height: calc(100vh - 5rem - 40vh);
		height: auto;
		width: 100%;
		z-index: 2;
		position: absolute;
	}

	.info::before {
		top: -2rem;
		right: 0;
		border-left: 100vw solid transparent;
		border-bottom: 2rem solid var(--white);
		box-shadow: 1px 1px var(--white);
	}

	.infoUnder {
		background: black;
		height: 5.1rem;
		z-index: 1;
	}

	.infoUnder::before {
		top: -2rem;
		right: 0;
		border-left: 100vw solid transparent;
		border-bottom: 2rem solid black;
	}

	.back-button {
		position: static;
	}

	.flex-container {
		display: flex;
		flex-direction: column;
		padding: 0;
	}

}

@media only screen and (max-width: 500px) {
	.project-pic-container {
		width: calc(100vw - 3rem);
		height: calc(100vw - 3rem);
		margin-bottom: 0.5em;
		margin-left: auto;
		margin-right: auto;
	}
}