html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
strong {
	font-weight: bold;
} 
 
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img {
	border: 0;
	max-width: 100%;
}
 
p, a {
	font-size: 1.375em;
	line-height: 1.1em;
	font-kerning: normal;
	color: #000;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 2.1em;
	text-align: center;
}

h3 {
	font-size: 1.8em;
}

.text {
	margin: 3% 10% 0% 10%;
	line-height: 1.3em;
	font-kerning: normal;
}

p.finalTxt {
	margin: 3% 10% 0% 10%;
	line-height: 1.3em;
	font-kerning: normal;
}

html, body {
	font-size: 100%;
	line-height: 1; 
	font-family: 'Barlow', Arial, Tahoma, sans-serif;
	height: 100%;
	/*ios fix alkaa*/overflow-y: scroll; -webkit-overflow-scrolling: touch;/*ios fix loppuu*/
	background: #2026b2;
	overflow: hidden;
}

@font-face {
	font-family: 'Ehnocentric';
	src: url("ethnocentric rg it.ttf") format("TrueType");
}

.swiper-container {
	width: 100%;
	height: calc(100% - 2.25em);
}

.swiper-slide {
	width: 100%;
	height: 100%;
}

/*navbar*/

#navbar {
	position: absolute;
	bottom: 0;
	width: 100%;
	z-index: 80;
	text-align: center;
	background: #2026b2;
	padding: 0% 1%;
}

#navbar a {
	padding: 0.5em;
	display: inline-block;
	transition: 0.2s;
	color: #000;
	text-decoration: none;
}

#navbar a:hover {
	background: #D9D9DF /*#4c50b2*/ ;
	color: #000;
}

/*1st slide*/

.firstSlide {
	/*background: rgb(41,137,216);
	background: -moz-
	background: -webkit-*/
	background: linear-gradient(-90deg, #5D61AA 50%, #D9D9DF 0%);
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#82af21',GradientType=1 );*/
}

#firstHeader {
	position: relative;
	width: 100%;
	background: #D9D9DF;
	overflow: auto;
	z-index: 99;
	padding: 0% 5px;
}

.textHeader {
	font-family: 'Ehnocentric', sans-serif;
	text-align:center;
	margin: 2% auto;
}

.fiftypercent {
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.fiftypercentFinal {
	float: left;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.titleParagraph {
	text-align: center;
	margin-top: 1%;
	font-style: italic;
	font-size: 1.3em;
}

.fiftyPercentImg {
	height: 50%;
	width: auto;
	display: block;
	margin: 3% auto;
	padding: 15px;
}

.bottomOfSlide {
	position: absolute;
	width: 100%;
	bottom: 0;
	margin-bottom: 6%;
	text-align: center;
}

/*2nd slide*/

.secondSlide {
	/*background: linear-gradient(-90deg, #b2b3c4 70%, #515379 0%);*/
	background: linear-gradient(-90deg, #D9D9DF 70%, #5D61AA 0%);
}

#secondHeader {
	position: relative;
	width: 100%;
	background: #5D61AA;
	overflow: auto;
	z-index: 99;
	padding: 0.5em;
}

.seventypercent {
	float: left;
	width: 70%;
	height: 100%;
	margin: 0;
	padding: 0;
}


.thirtypercent {
	float: left;
	width: 30%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.secondSlide .thirtypercent img {
	height: 30%;
	width: auto;
	display: block;
	margin: 3% auto;
}

.seventyPercentImg {
	height: 60%;
	width: auto;
	display: block;
	margin: auto;
	padding: 15px;
}

/*3rd slide*/

.thirdSlide {
	background: linear-gradient(90deg, #D9D9DF 70%, #5D61AA 0%);
}

#thirdHeader {
	position: relative;
	width: 100%;
	background: #5D61AA;
	overflow: auto;
	z-index: 99;
	padding: 0.5em;
}

.vertAlignImg {
	height: 50%;
	width: auto;
	display: block;
	margin: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/*4th slide*/

.forthSlide {
	background: linear-gradient(90deg, #5D61AA 30%, #D9D9DF 0%);  
}

#forthHeader {
	position: absolute;
	bottom: 0;
	right: 0;	
	width: 70%;
	background: #5D61AA;
	overflow: auto;
	z-index: 99;
	padding: 0.5em;
}

/*5th slide*/

#finalHeader {
	position: relative;
	width: 100%;
	background: #5D61AA;
	overflow: auto;
	z-index: 99;
	padding: 0.5em;
}

.finalImg {
	height: 43%;
	width: auto;
	display: block;
	margin: 3% auto;
	padding: 15px;
}

/*List*/

.bigList {
	font-size: 1.35em;
	padding: 1% 14%;
}

.bigList dt {
	margin: 1%;
	display: list-item;
	list-style: disc;
}

.bigList dd {
	display: list-item;
	list-style: inside circle;
	padding-left: 5%;
}

.hide-this {
	display: block;
}

/*button*/

.button-container {
	padding: 10% 15%;
	text-align: center;
}

.button {
	background: #2026b2;
	color: #000;
	padding: 1em;
	margin: 5%;
	text-align: center;
	text-decoration: none;
	display: block;
	font-size: 1.4em;
	transition: 0.4s;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.button:hover {
	background: #D9D9DF;
	border-bottom-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 0px;
}

/*mediaquery*/

@media only screen and (max-width: 768px) {
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}

	.fiftypercent, .thirtypercent, .seventypercent, .fiftypercentFinal {
		width: 100%;
		float: none;
	}

	.fiftypercent {
		height: 43%;
	}

	.fiftypercentFinal {
		height: 50%;
	}

	.hide-this {
		display: none!important;
	}

	.firstSlide {
		/*background: rgb(41,137,216);
		background: -moz-
		background: -webkit-*/
		background: linear-gradient(-180deg, #D9D9DF 55%, #5D61AA 0%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#82af21',GradientType=1 );*/
	}

	.textHeader {
		margin: 3% auto 2% auto;
		text-align: center;
	}

	h1 {
		font-size: 2.7em;
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.4em;
	}

	.bigList {
		font-size: 1.2em;
		padding: 1% 20%;
	}

	.fiftyPercentImg {
		height: 30%;
		width: auto;
		display: block;
		margin: 3% auto;
		padding: 0px;
	}

	.secondSlide {
		background: /*#b2b3c4*/#D9D9DF;
	}

	#secondHeader {
		background: #515379;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}

	.secondSlide .thirtypercent img {
		width: 30%;
		height: auto;
		display: inline-block;
		margin: 3% auto;
	}

	.seventyPercentImg {
		height: 40%;
		width: auto;
		display: block;
		margin: auto;
	}

	.thirdSlide {
		background: /*#a8abe0*/#D9D9DF;
	}

	#thirdHeader {
		background: /*#474CB3*/#5D61AA;
	}

	.thirdSlide .thirtypercent img {
		height: 50%;
		width: auto;
		display: block;
		margin: auto;
	}

	.forthSlide {
		background: #D9D9DF;  
	}

	#forthHeader {
		position: relative;
		width: 100%;
		background: #5D61AA;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}

	p.finalTxt {
		margin: 3% 10% 0% 10%;
		line-height: 1.3em;
		font-kerning: normal;
		font-size: 1.1em;
	}

	.button-container {
		padding: 5%;
		text-align: center;
	}
}


@media only screen and (max-height: 850px) and (max-width: 768px) {
	.fiftypercent {
		height: 39%;
	}

	.fiftypercentFinal {;
		height: 52%;
	}
}

@media only screen and (max-height: 667px) and (max-width: 768px) {
	.fiftypercent {
		height: 40%;
	}

	.fiftypercentFinal {;
		height: 55%;
	}

	h1 {
		font-size: 2.1em;
	}

	.seventyPercentImg {
		height: 30%;
		width: auto;
		display: block;
		margin: auto;
	}

}

@media only screen and (max-height: 590px) and (max-width: 768px) {
	.fiftypercent {
		height: 40%;
	}

	.firstSlide {
		/*background: rgb(41,137,216);
		background: -moz-
		background: -webkit-*/
		background: linear-gradient(-180deg, #D9D9DF 57%, #5D61AA 0%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#82af21',GradientType=1 );*/
	}

	h2 {
		font-size: 1.7em;
	}

	h3 {
		font-size: 1.2em;
	}

	p.finalTxt {
		margin: 3% 10% 0% 10%;
		line-height: 1.3em;
		font-kerning: normal;
		font-size: 0.95em;
	}


	.button {
		background: #2026b2;
		color: #000;
		padding: 1em;
		margin: 1%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 1.4em;
		transition: 0.4s;
		border-top-left-radius: 10px;
		border-bottom-right-radius: 10px;
	}
}

@media only screen and (max-height: 370px) {
	h1 {
		font-size: 1.5em;
	}

	h2 {
		font-size: 1.35em;
	}

	.titleParagraph {
		text-align: center;
		margin-top: 1%;
		font-style: italic;
		font-size: 1.05em;
	}

	.text, p {
		font-size: 0.9em
	}

	h3.text {
		margin-top: 0.5%;
	}

	.bigList {
		font-size: 0.8em;
		padding: 1% 20%;
	}

	.seventyPercentImg {
		display: none;
	}

	.fiftypercent {
		height: 34%;
	}

	.firstSlide {
		/*background: rgb(41,137,216);
		background: -moz-
		background: -webkit-*/
		background: linear-gradient(-180deg, #D9D9DF 61%, #5D61AA 0%);
		/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2989d8', endColorstr='#82af21',GradientType=1 );*/
	}

	p.finalTxt {
		margin: 3% 10% 0% 10%;
		line-height: 1.3em;
		font-kerning: normal;
		font-size: 0.75em;
	}
}

@media only screen and (min-height: 375px) and (max-height: 414px) and (min-width: 568px) 
and (max-width: 812px) { /*iPhone fix*/
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}

	.fiftypercent, .thirtypercent, .seventypercent, .fiftypercentFinal {
		width: 100%;
		float: none;
	}

	.fiftypercent {
		height: 35%;
	}

	.hide-this {
		display: none!important;
	}

	.firstSlide {
		background: linear-gradient(-180deg, #D9D9DF 58%, #5D61AA 0%);
	}

	.textHeader {
		margin: 1% auto;
		text-align: center;
	}

	h1 {
		font-size: 2.1em;
	}

	h2 {
		font-size: 1.35em;
	}

	.titleParagraph {
		text-align: center;
		margin-top: 1%;
		font-style: italic;
		font-size: 1.05em;
	}


	.text, p {
		font-size: 1em
	}

	p.finalTxt {
		font-size: 0.9em;
	}

	h3.text {
		margin-top: 0.5%;
		font-size: 1.2em;
	}

	.bigList {
		font-size: 0.9em;
		padding: 1% 20%;
	}


	.fiftyPercentImg {
		height: 30%;
		width: auto;
		display: block;
		margin: 3% auto;
		padding: 0px;
	}

	.secondSlide {
		background: /*#b2b3c4*/#D9D9DF;
	}

	#secondHeader {
		background: #515379;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}

	.secondSlide .thirtypercent img {
		width: 30%;
		height: auto;
		display: inline-block;
		margin: 3% auto;
	}

	.seventyPercentImg {
		height: 40%;
		width: auto;
		display: block;
		margin: auto;
	}
	.thirdSlide {
		background: /*#a8abe0*/#D9D9DF;
	}

	#thirdHeader {
		background: /*#474CB3*/#5D61AA;
	}

	.thirdSlide .thirtypercent img {
		height: 50%;
		width: auto;
		display: block;
		margin: auto;
	}


	.forthSlide {
		background: #D9D9DF;  
	}

	#forthHeader {
		position: relative;
		width: 100%;
		background: #5D61AA;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}

	p.finalTxt {
		margin: 1% 10% 0% 10%;
		line-height: 1.3em;
		font-kerning: normal;
		font-size: 0.9em;
	}

	.button-container {
		padding: 5%;
		text-align: center;
	}

	.button {
		background: #2026b2;
		color: #000;
		padding: 1em;
		margin: 1%;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 1.4em;
		transition: 0.4s;
	}
}

@media only screen and (height: 375px) and (width: 812px) {
	.fiftypercent {
		height: 30%;
	}

	.button-container {
		padding: 5%;
		text-align: center;
	}

	.fiftypercentFinal {
		height: 50%;
	}
}

@media only screen and (height: 411px) and (width: 823px) { /*fucking Pixel 2XL*/
	.swiper-button-next, .swiper-button-prev {
		display: none;
	}

	.fiftypercent, .thirtypercent, .seventypercent {
		width: 100%;
		float: none;
	}

	.fiftypercent {
		height: 35%;
	}

	.hide-this {
		display: none!important;
	}

	.firstSlide {
		
		background: linear-gradient(-180deg, #D9D9DF 58%, #5D61AA 0%);
	}

	.textHeader {
		margin: 1% auto;
		text-align: center;
	}

	h1 {
		font-size: 2.1em;
	}

	h3.text {
		margin-top: 0.5%;
		font-size: 1.2em;
	}

	.bigList {
		font-size: 0.9em;
		padding: 1% 20%;
	}


	.fiftyPercentImg {
		height: 30%;
		width: auto;
		display: block;
		margin: 3% auto;
		padding: 0px;
	}

	.secondSlide {
		background: /*#b2b3c4*/#D9D9DF;
	}

	#secondHeader {
		background: #515379;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}

	.secondSlide .thirtypercent img {
		width: 30%;
		height: auto;
		display: inline-block;
		margin: 3% auto;
	}

	.seventyPercentImg {
		height: 40%;
		width: auto;
		display: block;
		margin: auto;
	}

	.thirdSlide {
		background: /*#a8abe0*/#D9D9DF;
	}

	#thirdHeader {
		background: /*#474CB3*/#5D61AA;
	}

	.thirdSlide .thirtypercent img {
		height: 50%;
		width: auto;
		display: block;
		margin: auto;
	}


	.forthSlide {
		background: #D9D9DF;  
	}

	#forthHeader {
		position: relative;
		width: 100%;
		background: #5D61AA;
		overflow: auto;
		z-index: 99;
		padding: 0.5em;
	}
}
