
body, html {
	min-height: 100%;
	width: 100%;
}

* {
	margin: 0;
}

#main {
	position: relative;
}

#nav {
	left: 0;
	top: 0;
	position: fixed;
	height: 100vh;
}

#navimg {
	height: 100%;
}

.content {
	height: 100%;
	margin-left: 0;
}

#section {
	width:48%;
	float:left;
	margin-top: 110px;
	margin-left: 90px; 	 
}
#footer {
	background-color:black;
	color:white;
	clear:both;
	text-align:center;
	position: absolute;	
	bottom: 0;
	padding: 0.8em;
	display: block;
	width: auto;
	position: fixed;
}

#footer2 {
	color:white;
	clear:both;
	text-align:center;
	padding:40px;	 
}

p {
	margin: 1em 6em;
	font-size: 1.15em;
}

.esittelykuva {
	margin: 1.5em 0em 1em 6em;
}

img { position: relative; }


.thumbnails {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	margin: 1em 6em;

	margin-bottom: 5em;
}

.thumbnail-link {
	margin: 2.8125em 1.8125em 1.5em 1em;
}

#mobile-bar {
	display: none;
	width: 100%;
	background: rgba(245, 245, 245, 0.95);
	list-style: none;
	margin: 0;
	padding: 0;
	position: fixed;
	z-index: 1002;
	font-size: 1.8em;
	box-shadow: rgba(0, 0, 0, 0.62) 0px 1px 7px 0px;
	font-weight: bold;
}

#mobile-bar li {
	float: left;
}

#mobile-bar-button {
	display: block;
	padding: 0.3em;
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.cool-effect {
	-webkit-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
	box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
	transition: 0.2s;
}


.visible {
	visibility: visible!important;
}

#mobile-indicator {
	display: none;
}

.alkukuva {
	float: left;
	margin: 1em 0 0 11.5em;
	width: 310px;
	height: auto;
}

#alku-pyötäkone {
	display: block;
}

#alku-mobiili {
	display: none;
}

@media only screen and (max-width: 1600px) {
	#footer {
		padding: 0.5em;
	}
}

@media only screen and (max-width: 1100px) {

	body, html {
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
		overflow-scrolling: touch;
	}

	#mobile-indicator {
		display: block;
	}

	.alkukuva {
		display: block;
		margin: 2.5em 0 0 13em;
		float: none;
	}

	#alku-pyötäkone {
		display: none;
	}

	#alku-mobiili {
		display: block;
	}

	#main {
		padding-top: 2.7em;
		height: auto;
	}

	#mobile-bar {
		display: block;
	}

	#nav {
		height: 90vh;
		margin-top: 2.8em;
		z-index: 1000;
		visibility: hidden;
		box-shadow: rgba(0, 0, 0, 0.62) 0px 1px 7px 0px;
	}

	.esittelykuva {
		margin: 0;
		padding: 1em;
		max-width: calc(100% - 2em);
		height: auto;
	}

	.thumbnails {
		margin-left: 1em;
		margin-right: 1em;
	}

	p {
		margin: 1em;
	}

	#footer {
		position: relative;
		font-size: 0.9em;
		padding: 0.5em 0em;
		width: 100%;
	}

}

@media only screen and (max-width: 700px) {
	.alkukuva {
		display: block;
		margin: auto;
		float: none;
		padding: 1em;
	}
}
